.chat{
    display: flex;
    flex-direction: column-reverse;
    height: 83%;
    overflow: auto;
    padding: 0 6px;
    padding-top: 5px;
    padding-bottom: 7px;
}

.chat article{
    margin: 10px 0;
    position: relative;
}

.chat p {
    margin: 3px;
    font-weight: 300
}

.chat p:hover + p{
    transition: 0.3s;
    opacity: 1;
}

.button-chat-probe{
    height: 60px;
}

.chat article p:first-of-type{
    border-radius: 5px;
    max-width: 300px;
    display: inline-block;
    background: #eee;
    padding: 10px;
    margin: 0 0;
    word-wrap: break-word;
    position: relative;
}

.chat article.sender-article{
    text-align: right;
}

.chat article .sender-datetime span{
    font-size: 10px;
}

.chat article .sender-datetime{
    position: absolute;
    opacity: 0;
    transition: 0.7s;
    left: 10px;
    /*display: none;*/
}

.chat article.sender-article .sender-datetime{
    right: 10px;
}

.chat article p:first-of-type{
    transition: 1s;
}

.chat article p:first-of-type:hover{
    border-radius: 20px;
    transition: 1s;
}
