#form_back {
	/*  */
	/*display: none;*/
	/*  */
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #e6ffe0;
	z-index: 10;
}

#register_form {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 40%;
	left: calc(50% - 250px / 2);
	width: 250px;
}

#register_form span {
	text-align: left;
	padding-left: 85px;
}

#register_form span * {
	display: inline;
}

#register_form span input {
	width: 13px;
}

.bottom-button {
	display: inline-block;
	margin-left: 6px;
}
