#form_back {
	/*  */
	/*display: none;*/
	/*  */
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #e6ffe0;
	z-index: 10;
	border: solid 1px #0000003d;
}

#register_form {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 240px;
	left: calc(50% - 250px / 2);
	width: 250px;
}

#register_form input {
	padding: 4px 0;
	margin-bottom: 5px;
}

.bottom-button {
	display: inline-block;
	margin-left: 6px;
}
